.outer {
  display: grid;
  grid-template-columns: repeat(4,25%);

  padding: 10px;
  border: 0cqhs solid black;
  grid-row-start: auto;
  gap: 10px;
  /* height: 100%; */
  width: 100%;
}
ul{
  box-shadow: 40px 30px 20px 10px rgba(31, 27, 27, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: white;
 /* 5px rounded corners */
}
.test{
  margin-bottom: 10px;
  gap: 10px;
  border-radius: 5px;
  border-color: black;
}


.add_task_div{

  position: fixed;
  text-align: center;
  bottom: 10px;
  
  width:100%;
  height: 250px;
  background-color: lightgrey;
  border: 2px solid black;
}